AddDefaultCharset UTF-8

php_flag display_errors 1
RewriteEngine on
Options All -Indexes

# Перенаправление на обработку файлом ниже
RewriteRule ^(.*)$ index.php [L,QSA]

ErrorDocument 400 /
ErrorDocument 401 /
ErrorDocument 402 /
ErrorDocument 403 /
ErrorDocument 404 /
ErrorDocument 500 /

RewriteCond %{REQUEST_FILENAME} !^favicon\.ico
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

